*{
    margin: 0;
    padding: 0;
}
body{
    background: url(/assets/img/touhou-background-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display:flex;
    justify-content: center;
    align-items: center;
}
.box{
    margin: 0 auto;
    width: 45%;
    height: 400px;
    display:-webkit-flex;
    justify-content: center;
    border: 1px solid red;
    float: left;
}
.box .avator{
    height: 180px;
    border-radius: 50%;
    border: 10px solid rgb(255,255,255,0.9);
}
.front-navigator{
    display: flex;
    width: 100%;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
    height: 10px;
}